body {
	font-family: 'Sanchez', serif;
	margin: 0 auto;
	margin-top: 50px;
}

p {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 15px;
}

h2 {
	margin-bottom: 30px;
}

/** HEADING **/
header {
	margin-bottom: 50px;
}

.logo p {
	font-family: 'Sanchez', serif;
	font-size: 80px;
	text-align: center;
}

.logo p:nth-child(1) {
	font-size: 30px;
	margin-bottom: -10px;
}

.navbar {
	background-color: #fff !important;
}

.navbar-light.color-changed {
	background-color: rgba(241, 176, 9, 0.1) !important;
}

.nav-item.active {
	color: rgb(241, 176, 9) !important
}

.navbar-brand {
	display: none;
}

/** CONTENT **/
main p {
	line-height: 1.7;
}

.content-block {
	margin: 100px auto;
}

main img {
	width: 100%;
	max-width: 250px;
}

/** FOOTER **/
footer {
	background-color: rgba(241, 176, 9, 0.1);
	margin-top: 100px;
}

.adres, .contact {
	text-align: right;
}

.fb-link a {
	color: black;
	font-size: 30px;
}


/** Media queries **/
@media only screen and (max-width: 768px) {
	.logo {
		display: none;
	}

	.navbar-brand {
		display: inline;
		margin-left: 50px;
	}

	button {
		margin-right: 50px;
	}

	.navbar-nav {
		width: 100% !important;
	}

	.img {
		width: 100%;
	}

	footer {
		text-align: center !important;
	}

	.adres, .contact {
		text-align: center;
		margin-top: 30px;
	}

	.navbar-collapse {
		margin-left: 50px;
	}

	.beschrijving {
		margin-top: 30px;
	}

	.content-block {
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	.afbeelding-rechts {
		display: flex;
		flex-direction: row-reverse;
	}

	#bokkepootjes-img {
		width: 100%;
		max-width: 300px;
		position: relative;
		bottom: 750px;
	}

	.img-right {
		text-align: right;
	}

	#pistolets-img {
		width: 100%;
		max-width: 300px;
		position: relative;
		bottom: 75px;
	}
}